:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{

    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}


body {
  height: 100%;
  margin: 0;
    /*padding-inline: 20%;*/
    width: 100%;
}


